.tab-wrapper {
	background-color: #fff;
	/* border-radius: 10px; */
	margin-bottom: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
	margin-top: 70px;
  }
  .tab-header {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
  }
  
  .tab-header .tab-btn {
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	z-index: 1;
	/* border: 1px solid #6a00fb; */
	background-color: transparent;
	transition: all 0.3s ease;
  }
  .tab-header .tab-btn:focus {
	outline: none;
  }
  .tab-header .tab-btn i {
	margin-right: 5px;
	font-size: 10px;
  }
  .tab-header .tab-btn:hover,
  .tab-header .tab-btn.active {
	color: #025bee;
  }
  
  .tab-header .underline {
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 2px;
	width: 0;
	transform-origin: left;
	background-color: #025bee;
	transition: all 0.3s ease;
  }
  
  .tab-body {
	display: flex;
	overflow: hidden;
  }
  .tab-body .tab-content {
	min-width: 100%;
	padding: 20px;
	font-size: 12px;
	transition: all 0.3s;
	text-align: justify;
  }
  .tab-wrapper[rounded] {
	border-radius: 10px;
  }
  .tab-header[full-width] .tab-btn {
	flex: 1;
	text-align: center;
  }
  .tab-header[background] {
	background-color: #025bee;
  }
  .tab-header[background] .tab-btn {
	color: #fff;
  }
  .tab-header[background] .tab-btn.active {
	color: #025bee;
  }
  .tab-header[background] .tab-btn.active:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #fff;
  }
  .tab-header[background] .underline {
	background-color: #fff;
	height: 100%;
	bottom: 0;
  }
  .tab-header[border] .tab-btn {
	border: 1px solid #e5e5e5;
  }
  .tab-header[border] .tab-btn.active {
	border: 1px solid #025bee;
  }
  .tab-header[border] .tab-btn.active {
	color: #fff;
  }
  .tab-header[border] .underline {
	height: 100%;
	bottom: 0;
  }
  
  /* Credits */
  
  .credits {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 10px;
	font-size: 12px;
	color: #fff;
	background-color: #025bee;
  }
  .credits a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
  }
  .credits a:hover {
	text-decoration: underline;
  }